*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin-top: 20px;
    color: cadetblue;
}
.caption{
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    color: cornflowerblue;
}